/* html,body{
    height: 100%;
    width: 100%;
} */

.left ul li{
    padding: 0px 12px;
}

/* .container{
    padding: 0 10vw;
    margin: auto;
} */

/* .carousel-indicators {
    bottom: 10px; 
  } */

  .carousel-indicators button {
    width: 0.8rem !important;
    height: 0.8rem !important;
    border-radius: 50% !important;
  }

  .carousel-indicators .active {
    background-color: #fff; /* Color of the active indicator */
  }

  .navbar-nav li{
    padding: 3px;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .navbar-nav{
    margin-left: 2rem;
  }
  body{
    background-color: white;
  }

  @media screen and (max-width:400px) {
    .search input{
      margin-left: 0rem !important;
      width: 15rem !important;
    }
    .search{
      margin-left: 0 !important;
      float: left !important;
    }
  }